// Basics
@import 'tools/pre';
@import 'typography/embed';

// Define output settings for project
$output: set-output(css, true);

// Output the whole framework
@import '~@henris/next';

// Defined settings
@import 'tools/post';

// Theme
@import 'typography/typography';
@import 'components/index';


@import 'helpers';

hr{
	margin: grid(1 0);
	color: color(Ice);
	background-color: color(Ice);
	border: none;
	height: 1px;
	display: block;
}