.basic-content {
	padding: grid(3 0);
	&:not([class*="background--"]){
		background-color: color(White);		
	}
	@media #{$small-only} {
		padding: $mobile-padding;
	}
	h1 {
		color: color(Blue);
	}
	.content {
		break-inside: avoid;
		& + .content {
		padding-top: grid(1);
			@include min-('padding-top',1,$mobile-padding);
	}

		section{
			padding: grid(1) 0;
			& + section{
				border-top: 1px solid color(Ice);
			}
		}
	}

	// .column__content{
	// 	column-count: 2;
	// 	column-gap: 2rem;
	// 	@media #{$medium-down} {
	// 		column-count: 1;
	// 	}
	// }
}
