h1,
h2,
h3,
h4,
h5,
h6 {
	color: inherit;
	&.sub {
		font-weight: 400;
	}
}

h1 {
	font-size: grid(1);
	line-height: 1;
	@include min-(font-size, 1, 32px);
}

h2 {
	font-size: grid(.75);
	line-height: 1;
	@include min-(font-size, .75, 28px);
}

h3 {
	font-size: grid(0.5);
	line-height: 1;
	@include min-(font-size, .5, 24px);
}
h4 {
	font-size: grid(0.4);
	line-height: 1;
	@include min-(font-size, .4, 20px);
}
h5 {
	font-size: grid(0.3);
	line-height: 1;
	@include min-(font-size, .3, 16px);
}
h6 {
	font-size: grid(0.2);
	line-height: 1;
	@include min-(font-size, .2, 14px);
}

p {
	font-size: rem(18);
	line-height: 1.5;
	max-width: 60ch;
	& + p {
		font-size: 1rem;
	}
}

